* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container-wallpaper img{
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container-cabecalho {
  width: 100%;
  background-color: #e4d9d9;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-logo {
  width: 100px;
  margin:10px 10px;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.menu a {
  height: 20px;
  text-decoration: none;
  background-color: rgb(139, 135, 135);
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 10px black;
  }

main {
  margin-top: 125px;
}


h1 {
  text-align: center;
  padding: 50px;
  background-color: black;
  color: white;
}

h2{
  text-align: center;
  padding: 50px;
  background-color: #c4c4c4;
  color: black;
}

.curiosidades {
  display: flex;
  align-items: flex-start;
}

.curiosidades div {
  background: white;
  display: block;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
}

.curiosidades article {
  text-align: center;
  background-color: #999;
  border-radius: 50px;
  overflow: hidden;
}
.curiosidades article img {
  width: 100%;
}
.curiosidades article p {
  padding: 20px;
}

.texto-video{
  text-align: center;
}

.caixa-video{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.texto-curiosidades{
  text-align: center;
}

.rodape {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #e4d9d9;
}

.github{
  margin: 6.5px;
}

.rodape img {
  width: 200px;
}

@media (min-width:320px) and (max-width: 768px) {
  .menu{
  flex-direction: column;
  }
  .curiosidades {
    flex-direction: column;
  }
  .curiosidades div {
    padding: 30px;
  }
  
  .caixa-video{
    padding:30px;
  }

  .texto-curiosidades{
    width: 100%; 
    padding-top: 30px;  
  }

}

@media (min-width:769px) and (max-width: 1280px) {
  .curiosidades div {
    width: 30%;
    padding: 30px;
  }
  .curiosidades{
    display: flex;
    justify-content: space-evenly;
  }
 
  .caixa-video{
    padding:30px;
  }
}

@media (min-width: 1280px){
  .curiosidades div{
  width: 30%;
  padding: 30px;
  }
  .curiosidades{
    display: flex;
    justify-content: space-evenly;
  }
  .caixa-video{
    padding:30px;
  }
}